body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
  }
  canvas{display:block}
  h1 {
    text-align:center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
  }

  h2{
    margin-top: 250px;
    text-align:center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    font-family: 'Yellowtail', cursive;
    font-size: 3em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none; 
  }

  @media only screen and (max-width:620px) {
    /* For mobile phones: */
     h1, h2 {
      width:100%;
    }
  }